body {
  background-image: url('../assets/background.jpg');
  background-color: #227aad;
}

#header {
  font-family: 'Oswald',sans-serif;
  font-size: 70px;
  z-index: 1;
  text-align: center;
  color: white;
}

#board {
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#timer {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-left: 40%;
  top: 80px;
}

.center {
  position: relative;
  margin-left; auto;
  margin-right: auto;
}

.box {
  width: 405px;
  height: 324px;
}

.rainbow {

}
