body {
  background-image: url('../asset/background.jpg');
  background-color: #227aad;
}

#header {
  font-family: 'Oswald',sans-serif;
  font-size: 70px;
  z-index: 1;
  text-align: center;
  color: white;
}

#board {
  background-color: #d9d9d9;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ffffff;
}

.box {
  width: 400px;
  height: 300px;
}

.square {
  border-style: solid;
  border-color: #ffffff;
}
