html{
	background-image: url("../assets/background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Stencil Std fantasy;
	font-style: normal;
	font-weight: 400px;
}

.options{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border-radius: 25px;
	width: 250px;
	height: 75px;
	padding: 20px;
	background-color: white;
}

h1{
	font-size: 80px;
	color: red;
	text-align: center;
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: 400;
}
font{
	font-family: Stencil Std, fantasy;
	font-style: normal;
	font-weight: 400;
}
p{
	margin-top: 15px;
	font-size: 40px;
	text-align: center;
}

a:link{
	text-decoration: none;
	color: red;
}
a:visited{
	text-decoration: none;
	color: red;
}
a:hover{
	text-decoration: underline;
}
a:active{
	color: black;
}

fieldset{
	height: 600px;
	width: 700px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#menu{
	float: left;
	position: relative;
	margin-right: 20px;
	height: 30px;
	width: 30px;
}
